/* FONT Definitions =================================
=====================================================*/
/* PTSans Bold font for any text ++++++++++++++++++++++++++++++++++++++*/

@font-face {
    font-family: 'Yanone_font';
    src: url('fonts/PTSB-webfont.eot');
    src: url('fonts/PTSB-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/PTSB-webfont.ttf') format('truetype'),
        url('fonts/PTSB-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* PTSans Bold font for any text ++++++++++++++++++++++++++++++++++++++*/

@font-face {
    font-family: 'PTSB_font';
    src: url('fonts/PTSB-webfont.eot');
    src: url('fonts/PTSB-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/PTSB-webfont.ttf') format('truetype'),
        url('fonts/PTSB-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MyriadPro Semi-Condensed font for any text */

@font-face {
    font-family: 'MPSC_font';
    src: url('fonts/MPSC-webfont.eot');
    src: url('fonts/MPSC-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/MPSC-webfont.ttf') format('truetype'),
        url('fonts/MPSC-webfont.svg#MPSC_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MPSC_fontie';
    src: url('fonts/MPSC-webfont.woff') format('woff');
}

@font-face {
    font-family: 'MPSC_fontAlt';
    src: url('fonts/MPSC-webfont.eot');
    src: url('fonts/MPSC-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/MPSC-webfont.woff') format('woff'),
        url('fonts/MPSC-webfont.ttf') format('truetype'),
        url('fonts/MPSC-webfont.svg#MPSC_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MyriadPro Light Semi-Condensed font for any text */

@font-face {
    font-family: 'MPLSC_font';
    src: url('fonts/MPLSC-webfont.eot');
    src: url('fonts/MPLSC-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/MPLSC-webfont.woff') format('woff'),
        url('fonts/MPLSC-webfont.ttf') format('truetype'),
        url('fonts/MPLSC-webfont.svg#MPLSC_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MyriadPro Regular font for any text ++++++++++++++++++++*/

@font-face {
    font-family: 'MPR_font';
    src: url('fonts/MPR-webfont.eot');
    src: url('fonts/MPR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MPR-webfont.ttf') format('truetype'),
         url('fonts/MPR-webfont.svg#MPR_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MPR_fontie';
    src: url('fonts/MPR-webfont.woff') format('woff');
}

@font-face {
    font-family: 'MPR_fontAlt';
    src: url('fonts/MPR-webfont.eot');
    src: url('fonts/MPR-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/MPR-webfont.woff') format('woff'),
         url('fonts/MPR-webfont.ttf') format('truetype'),
         url('fonts/MPR-webfont.svg#MPR_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MyriadPro Light font for any text */

@font-face {
    font-family: 'MPL_font';
    src: url('fonts/MPL-webfont.eot');
    src: url('fonts/MPL-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/MPL-webfont.woff') format('woff'),
        url('fonts/MPL-webfont.ttf') format('truetype'),
        url('fonts/MPL-webfont.svg#MPL_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MyriadPro Bold Semi-Condensed font for any text */

@font-face {
    font-family: 'MPBSC_font';
    src: url('fonts/MPBSC-webfont.eot');
    src: url('fonts/MPBSC-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/MPBSC-webfont.ttf') format('truetype'),
        url('fonts/MPBSC-webfont.svg#MPBSC_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MPBSC_fontie';
    src: url('fonts/MPBSC-webfont.woff') format('woff');
}

/* MyriadPro Semi Bold font for any text */

@font-face {
    font-family: 'MPSB_font';
    src: url('fonts/MPSB-webfont.eot');
    src: url('fonts/MPSB-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/MPSB-webfont.ttf') format('truetype'),
        url('fonts/MPSB-webfont.svg#MPSB_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MPSB_fontie';
    src: url('fonts/MPSB-webfont.woff') format('woff');
}

/* MyriadPro Semi Bold Semi-Condensed font for any text */

@font-face {
    font-family: 'MPSBSC_font';
    src: url('fonts/MPSBSC-webfont.eot');
    src: url('fonts/MPSBSC-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/MPSBSC-webfont.ttf') format('truetype'),
        url('fonts/MPSBSC-webfont.svg#MPSBSC_font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MPSBSC_fontie';
    src: url('fonts/MPSBSC-webfont.woff') format('woff');
}